<footer class="section-footer border-top">
    <div class="container">
        <section class="footer-top pb-0">
            <div class="row">
                <aside class="col-md">
                    <h6 class="title">Powerpulse</h6>
                    <ul class="list-unstyled">
                        <li><a href="#" class="nav-link"><i class="me-2 bi bi-facebook"></i>Champ
                            Thichanon</a></li>
                    </ul>
                </aside>
                <aside class="col-md">
                    <h6 class="title">Contact us</h6>
                    <ul class="list-unstyled">
                        <li><i class="me-2 bi bi-telephone-fill"></i>(800) 060-0730, (800) 060-0730</li>
                        <li><i class="me-2 bi bi-envelope-fill"></i>champ.thichanon@gmail.com</li>
                    </ul>
                </aside>
                <aside class="col-md">
                    <h6 class="title">About us</h6>
                    <ul class="list-unstyled ">
                        <li><a href="#" class="nav-link">How to order</a></li>
                        <li><a href="#" class="nav-link">Notification of payment</a></li>
                        <li><a href="#" class="nav-link">Privacy policy</a></li>
                    </ul>
                </aside>
            </div> <!-- row.// -->
        </section> <!-- footer-top.// -->

        <section class="footer-bottom row p-0">
            <div class="col-md-12">
                <p class="text-muted m-0 text-center"> © 2024 Powerpulse </p>
            </div>
        </section>
    </div>
</footer>