<!-- Navbar Section -->
<nav class="navbar navbar-expand-lg bg-white fixed-top">
    <div class="container-fluid">
        <a class="navbar-logo me-3" href="{% url 'home' %}">POWERPULSE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Search Form -->
            <form class="d-flex mx-auto mb-2 mb-lg-0" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
            <!-- User Actions -->
            <div class="d-flex gap-3">
                <a class="nav-link d-flex flex-column align-items-center" href="{% url 'store' %}">
                    <i class="bi bi-basket"></i>
                    <span class="d-block" style="font-size: 10px;">Store</span>
                </a>
                {% if request.user.is_authenticated %}
                <a class="nav-link d-flex flex-column align-items-center" href="{% url 'my_account' %}">
                    <i class="bi bi-person"></i>
                    <span class="d-block" style="font-size: 10px;">Profile</span>
                </a>
                {% else %}
                <a href="{% url 'login' %}" class="nav-link d-flex flex-column align-items-center">
                    <i class="bi bi-person"></i>
                    <span class="d-block" style="font-size: 10px;">Login</span>
                </a>
                {% endif %}
                <a href="{% url 'cart' %}" class="nav-link d-flex flex-column align-items-center position-relative">
                    <i class="bi bi-bag"></i>
                    <span
                        class="position-absolute text-center translate-middle  bg-danger border border-light rounded-pill"
                        style="font-size: 8px; left: 80%; top: 10%; width: 15px;">
                        15+
                    </span>
                    <span class="d-block" style="font-size: 10px;">My Cart</span>
                </a>
            </div>
        </div>
    </div>
</nav>
<!-- End Navbar Section -->