.price {
    font-style: normal;
}

.input-spinner {
    width: 125px;
    flex-wrap: nowrap;
    display: inline-flex;
    vertical-align: middle;
}

.input-spinner input.form-control {
    text-align: center;
    font-weight: bold;
}

.btn-light {
    border: 1px solid #e4e4e4;
    background-color: #fff;
    color: #969696;
}

.btn-light:hover {
    border-color: #989898 !important;
}

.btn-light:focus {
    box-shadow: 0 0 0 0.2rem rgba(199, 199, 200, 0.5);
}

.custom-control-inline {
    display: inline-flex;
    margin-right: 1rem;
}

.gallery-wrap .img-big-wrap a {
    text-align: center;
    display: block;
}

.img-big-wrap img {
    width: 100%;
    height: auto;
    object-fit: cover;
}