/* home.css */
.section-intro {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-product:hover {
  box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  transition: 0.3s;
}
.card-product a {
  text-decoration: none;
  color: inherit;
}

.card-product img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.price {
  font-style: normal;
  font-weight: 600;
}

.product-price-wrapper {
  border-top: 1px solid #e4e4e4;
}

.btn-add-to-cart {
  color: #0d6efd !important;
}

.btn-add-to-cart:hover {
  color: #fff !important;
}

.intro-banner-wrap {
  max-width: 100%;
}
