{% extends 'base.html' %}

{% load static %}

{% block title %}
PowerPulse - Login
{% endblock %}

{%block head%}{%endblock%}

{%block content%}
<section>
    <div class="container my-5 py-5">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Sign In</h4>
                        <form method="POST">
                            {% csrf_token %}
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{message.tags}}" role="alert">
                                {{message}}
                            </div>
                            {% endfor %}
                            {% endif %}
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" id="email" name="email" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <a href="#" class="float-end" style="text-decoration: none;">Forgot Password?</a>
                                <label for="password" class="form-label">Password</label>
                                <input type="password" id="password" name="password" class="form-control" required>
                            </div>
                            <div class="form-check mb-3">
                                <label for="rememberMe" class="form-check-label">Remember Me</label>
                                <input type="checkbox" id="rememberMe" class="form-check-input" required>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer bg-white text-center">
                        <p class="card-text d-inline">Don't have an account?</p>
                        <a href="{% url 'signup' %}" class="d-inline" style="text-decoration: none;">Create
                            Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}