{%extends 'base.html'%}
{% load static %}

{%block title%}
PowerPulse - Sign up
{%endblock%}

{%block head%}
<link rel="stylesheet" href="{% static 'css/text.css' %}">
{%endblock%}

{%block content%}
<section>
    <div class="container my-5 py-5">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Create New Account</h4>
                        <form method="POST">
                            {% csrf_token %}
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{message.tags}}" role="alert">
                                {{message}}
                            </div>
                            {% endfor %}
                            {% endif %}

                            <div class="mb-3">
                                <label for="firstName" class="form-label">First Name</label>
                                <input type="text" name="first_name" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Last Name</label>
                                <input type="text" name="last_name" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" name="email" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" name="password" placeholder="" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password(Conform)</label>
                                <input type="password" name="conform_password" placeholder="" class="form-control"
                                    required>
                            </div>
                            <div class="form-check mb-3">
                                <label for="terms" class="form-check-label">I accept the <a href="#"
                                        style="text-decoration: none;">Terms
                                        and Conditions</a></label>
                                <input type="checkbox" id="terms" class="form-check-input" required>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn  btn-primary  btn-block">Register</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer bg-white text-center">
                        <p class="card-text d-inline">Already have an account?</p>
                        <a href="{% url 'login' %}" class="d-inline" style="text-decoration: none;">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}