{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
PowerPulse - Cart
{% endblock %}

{%block head%}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">{%endblock%}

{% block content %}
<div class="container my-5 py-5">
    <div class="row">
        {% if not cart_items %}
        <div class="col-md-9">
            <h2 class="text-center">Sorry, you don't have anything in your cart</h2>
            <div class="img-empty text-center">
                <img src="{% static 'images/carts/cart_empty.png'%}" alt="">
            </div>
        </div>

        <aside class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <dl class="dlist-align d-flex justify-content-between m-0">
                        <dt>Total price:</dt>
                        <dd>-</dd>
                    </dl>
                    <dl class="dlist-align d-flex justify-content-between m-0">
                        <dt>Tax:</dt>
                        <dd class="text-danger">-</dd>
                    </dl>
                    <dl class="dlist-align d-flex justify-content-between m-0">
                        <dt>Grand Total:</dt>
                        <dd><strong>-</strong></dd>
                    </dl>
                    <hr>
                    <div class="d-grid gap-2">
                        <a href="{% url 'checkout' %}" class="btn btn-primary btn-block disabled">Purchase</a>
                        <a href="{% url 'store' %}" class="btn btn-primary btn-block">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </aside>
        {% else %}

        <div class="col-md-9">

            {% for cart_item in cart_items %}
            <div class="card card-body mb-3">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="itemside d-flex my-0">
                            <div class="aside">
                                <img alt="Product image" src="{{ cart_item.product.images.url }}" class="border img-sm">
                            </div>
                            <div class="info mx-3 d-flex flex-column">
                                <a href="{{cart_item.product.get_url }}" class="title">
                                    {{cart_item.product.product_name}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group input-spinner">
                            <div class="input-group-prepend">
                                <a href="{% url 'remove_cart' cart_item.product.id %}"
                                    class="btn btn-light rounded-end-0" type="button" id="button-plus">
                                    <i class="fa fa-minus"></i>
                                </a>
                            </div>
                            <input type="text" class="form-control" value="{{cart_item.quantity}}" readonly>
                            {%if cart_item.quantity >= cart_item.product.stock%}
                            <div class="input-group-append">
                                <a href="{% url 'add_cart' cart_item.product.id %}"
                                    class="btn btn-light rounded-start-0 disabled" type="button" id="button-minus">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                            {%else%}
                            <div class="input-group-append">
                                <a href="{% url 'add_cart' cart_item.product.id %}"
                                    class="btn btn-light rounded-start-0" type="button" id="button-minus">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                            {%endif%}
                        </div>
                    </div>
                    <div class="col ">
                        <div class="prices">
                            <var class="price-total  fst-normal fw-bold d-block m-0">
                                &#3647;{{cart_item.sub_total | intcomma}}</var>
                            <small class="price-each text-muted">&#3647;{{cart_item.product.price | intcomma}}
                                each</small>
                        </div>
                    </div>
                    <div class="col flex-grow-0 text-end">
                        <a href="{% url 'remove_cart_item' cart_item.product.id %}" class="btn btn-light"><i
                                class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <aside class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <dl class="dlist-align d-flex justify-content-between m-0">
                        <dt>Total price:</dt>
                        <dd>&#3647;{{total | intcomma}}</dd>
                    </dl>
                    <dl class="dlist-align d-flex justify-content-between m-0">
                        <dt>Tax:</dt>
                        <dd class="text-danger">&#3647;{{tax | intcomma}}</dd>
                    </dl>
                    <dl class="dlist-align d-flex justify-content-between m-0">
                        <dt>Grand Total:</dt>
                        <dd><strong>&#3647;{{grand_total | intcomma}}</strong></dd>
                    </dl>
                    <hr>
                    <div class="d-grid gap-2">
                        <a href="/checkout" class="btn btn-primary btn-block">Purchase</a>
                        <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </aside>
        {% endif %}
    </div>
</div>
{% endblock %}