{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
PowerPulse - Store
{% endblock title %}

{% block head%}
<link rel="stylesheet" href="{% static '/css/store.css' %}" />
{% endblock %}

{% block content %}
<section class="section-content my-5 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card p-3">
                    <div class="filter-group">
                        <div class="header">
                            <h5>Categories</h5>
                        </div>
                        <div>
                            <ul class="list-menu">
                                <a href="{% url 'store' %}"
                                    class="link-category {%if request.path == '/store/' %}text-primary{%endif%}">All
                                    Products</a>
                                {% for category in links %}
                                <li>
                                    <a href="{{ category.get_url }}"
                                        class="link-category {%if  category.get_url  == request.path %}text-primary{%endif%} ">{{category.category_name}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    {% if products %}
                    {% for product in products %}
                    <div class="col-md-4 mb-3">
                        <div class="card card-product">
                            <a href="{{ product.get_url }}" class="img-link">
                                <div class="img-wrap">
                                    <img class="rounded-top" style="width:100%; max-height: 220px;object-fit: cover;"
                                        src="{{ product.images.url }}" alt="Optimum Nutrition Whey Protein Gold 5 LBS">
                                </div>
                            </a>
                            <div class="card-body p-2"><a href="{{ product.get_url }}" class="img-link">
                                    <div class="fix-height mb-2">
                                        <p class="card-text  m-0 p-0 " style="height: 50px;overflow: hidden;">
                                            {{product.product_name }}</p>
                                        <span class="price">&#3647;{{ product.price | intcomma }}</span>
                                    </div>
                                </a>
                                <div class="btn-product d-grid">
                                    {% if product.stock == 0 %}
                                    <a href="{% url 'add_cart' product.id %}"
                                        class="btn btn-outline-danger  disabled">Out of stock</a>
                                    {% else %}
                                    <a href="{% url 'add_cart' product.id %}"
                                        class="btn btn-primary btn-add-to-cart">Add to cart</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <nav aria-label="Page navigation example">
                        {% if products.has_other_pages %}
                        <ul class="pagination">
                            {% if products.has_previous %}
                            <li class="page-item"><a class="page-link"
                                    href="?page={{prouducts.previous_page_number}}">Previous</a></li>
                            {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                            {%endif%}

                            {%for i in products.paginator.page_range %}
                            {%if products.number == i%}
                            <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                            {%endif%}
                            {%endfor%}

                            {%if products.has_next%}
                            <li class="page-item"><a class="page-link"
                                    href="?page={{products.next_page_number}}">Next</a></li>

                            {%else%}
                            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>

                            {%endif%}
                        </ul>
                        {% endif %}
                    </nav>
                    {% else %}
                    {%if 'search' in request.path %}
                    <h2 class="text-center">No result found, please try again</h2>
                    {%else%}
                    <h2 class="text-center">Sorry, we don't have any items in at stock at moment</h2>
                    {%endif%}
                    <div class="img-empty text-center">
                        <img src="{% static 'images/carts/cart_empty.png'%}" alt="">
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}