{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
<!-- Setting the title of the page -->
<title>PowerPulse - Checkout</title>
{% endblock %}

{% block content %}

<!-- Modal Order complete -->
{%if order_completed %}
<div class="modal fade show" id="modal-order" tabindex="-1" role="dialog" aria-hidden="true" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title">Order successfully completed <i class="bi bi-check-circle"></i></h4>
            </div>
            <div class="modal-footer"><a href="/" class="btn btn-success">Go to Home page</a></div>
        </div>
    </div>
</div>
{%endif%}

<!-- Main container for the checkout page content -->
<div class="container my-5 py-5">
    <section class="section-content padding-y bg">
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <main class="col-md-8">
                        <!-- Card for reviewing the cart items -->
                        <article class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Review cart</h4>
                                <div class="row">
                                    <!-- Each item in the cart -->
                                    {%for cart_item in cart_items %}
                                    <div class="col-md-6">
                                        <figure class="itemside mb-4">
                                            <div class="aside">
                                                <img alt="Image product" src="{{ cart_item.product.images.url }}"
                                                    style="width: 80px; height: 80px;" class="border img-sm">
                                            </div>
                                            <figcaption class="info">
                                                <p style="height: 50px;overflow: hidden;">
                                                    {{cart_item.product.product_name}}
                                                </p>
                                                <!-- <span class="text-muted">2x = $560 </span> -->
                                                <span class="text-muted">{{cart_item.quantity}}x =
                                                    &#3647;{{cart_item.sub_total | intcomma}}</span>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </article>


                        <!-- Card for collecting delivery information -->
                        <article class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Delivery info</h4>

                                <div class="row">
                                    <!-- Contact info -->
                                    <div class="form-group col-sm-6">
                                        <!-- First name input -->
                                        <label>First name</label>
                                        <input type="text" name="first_name" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <!-- Last name input -->
                                        <label>Last name</label>
                                        <input type="text" name="last_name" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <!-- Phone number input -->
                                        <label>Phone</label>
                                        <input type="text" name="phone" class="form-control" required>
                                    </div>

                                    <!-- Address info-->
                                    <div class="form-group col-sm-6">
                                        <!-- House number input -->
                                        <label>House No</label>
                                        <input type="text" name="house_no" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <!-- Village number input -->
                                        <label>Village No</label>
                                        <input type="text" name="village_no" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <!-- Lane input -->
                                        <label>Lane</label>
                                        <input type="text" name="lane" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <!-- Road input -->
                                        <label>Road</label>
                                        <input type="text" name="road" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <!-- Sub-district/Sub-area input -->
                                        <label>Sub-district/Sub-area</label>
                                        <input type="text" name="sub_district" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <!-- District/Area input -->
                                        <label>District/Area</label>
                                        <input type="text" name="district" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <!-- Province selection -->
                                        <label>Province</label>
                                        <input type="text" name="province" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <!-- Postal code input -->
                                        <label>Postal code</label>
                                        <input type="text" name="postal_code" class="form-control" required>
                                    </div>
                                </div>

                            </div>
                        </article>

                        <!-- Accordion for selecting payment method -->
                        <article class="accordion" id="accordion_pay">
                            <!-- QR code payment option -->
                            <div class="card mb-2">
                                <header class="card-header">
                                    <img alt="Image QR code" src="{% static 'images/items/4.jpg' %}" class="float-end"
                                        height="24">
                                    <label class="form-check collapsed" data-toggle="collapse"
                                        data-target="#pay_paynet">
                                        <input class="form-check-input" name="payment-option" checked="" type="radio"
                                            value="option2">
                                        <h6 class="form-check-label">QR code</h6>
                                    </label>
                                </header>
                                <div id="pay_paynet" class="collapse show" data-parent="#accordion_pay">
                                    <div class="card-body">
                                        <!-- QR code payment instructions -->
                                        <p class="text-center m-0 d-flex align-content-center">
                                            <a href="#">
                                                <img alt="Image product" src="{% static 'images/items/4.jpg' %}"
                                                    style="width: 20%; height: auto; object-fit: cover"></a>
                                            <br><br>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Bank transfer payment option -->
                            <div class="card">
                                <header class="card-header border-0">
                                    <img src="images/items/4.jpg" class="float-end" height="24">
                                    <label class="form-check" data-toggle="collapse" data-target="#pay_card">
                                        <input class="form-check-input" name="payment-option" type="radio"
                                            value="option1">
                                        <h6 class="form-check-label">Bank Transfer</h6>
                                    </label>
                                </header>
                                <div id="pay_card" class="collapse" data-parent="#accordion_pay">
                                    <div class="card-body">
                                        <!-- Bank transfer payment instructions -->
                                        <p class="text-muted">Some instructions about how to pay </p>
                                        <p>
                                            Bank of America, Account number: 12345678912346 <br>
                                            IBAN: 12345, SWIFT: 987654
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </main>

                    <!-- Sidebar for order overview and final actions -->
                    <aside class="col-md-4">
                        <div class="card shadow">
                            <div class="card-body">
                                <h4 class="mb-3">Overview</h4>
                                <dl class="dlist-align">
                                    <!-- Display selected payment method -->
                                    <dt class="text-muted">Payment method:</dt>
                                    <dd>Cash</dd>
                                </dl>
                                <hr>
                                <dl class="dlist-align">
                                    <!-- Display total amount -->
                                    <dt>Total:</dt>
                                    <dd class="h5">$300.50</dd>
                                </dl>
                                <hr>
                                <!-- Button to finalize the purchase -->
                                <div class="d-grid">
                                    <button href="#" class="d-grid btn btn-primary btn-block">Make purchase</button>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </form>
        </div>
    </section>
</div>
{% endblock %}