{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<title>PowerPulse - Home</title>
{% endblock %}

{% block content %}

<!-- Main Content Section -->
<main class="main-content my-5 py-5">
    <!-- Introduction Banner -->
    <section class="section-intro">
        <div class="container">
            <div class="intro-banner-wrap">
                <img class="rounded" src="{% static 'images/banners/1.jpg' %}" alt="Healthy Asian woman doing squats" />
            </div>
        </div>
    </section>
    <!-- End Introduction Banner -->

    <!-- Popular Products Section -->
    <section class="products">
        <div class="container">
            <div class="section-header d-flex justify-content-between align-items-center">
                <h5 class="d-inline m-0">Popular Products</h5>
                <a href="{% url 'store' %}" class="btn btn-outline-primary d-inline">See all</a>
            </div>
            <!-- Product Cards -->
            <div class="row mt-3">
                <!-- Product 1 -->
                {% for popular_product in popular_products %}
                <div class="col-md-3 mb-3">
                    <a href="{{ popular_product.get_url }}" class="img-link">
                        <div class="card card-product">
                            <div class="img-wrap">
                                <img class="rounded-top" style="width: 220px; height: auto;"
                                    src="{{ popular_product.images.url }}"
                                    alt="Optimum Nutrition Whey Protein Gold 5 LBS" />
                            </div>
                            <div class="card-body p-2">
                                <div class="fix-height mb-2">
                                    <p class="card-text m-0 p-0" style="height: 30px;overflow: hidden;">
                                        {{popular_product.product_name }}</p>
                                    <span class="price">&#3647;{{ popular_product.price | intcomma}}</span>
                                </div>
                                <div class="btn-product d-grid">
                                    {% if popular_product.stock == 0 %}
                                    <a href="{% url 'add_cart' popular_product.id %}"
                                        class="btn btn-outline-danger disabled ">Out of stock</a>
                                    {% else %} <a href="{% url 'add_cart' popular_product.id %}"
                                        class="btn btn-primary btn-add-to-cart ">Add to
                                        cart</a>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </a>
                </div> <!-- End Product 1 -->
                {% endfor %}
            </div><!-- End Product Cards -->
        </div><!-- End container -->
    </section><!-- End Popular Products Section -->
</main><!-- End Main Content Section -->
{% endblock %}