{% extends 'base.html' %}
{% load static %}

{% block title %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <title>PowerPulse - Home</title>
{% endblock %}

{% block content %}
    <!-- Main Content Section -->
    <main class="main-content my-5">
        <!-- Introduction Banner -->
        <section class="section-intro">
            <div class="container">
                <div class="intro-banner-wrap">
                    <img class="img-fluid rounded"
                         src="{% static 'images/banner.jpg' %}"
                         alt="Healthy Asian woman doing squats">
                </div>
            </div>
        </section>
        <!-- End Introduction Banner -->

        <!-- Popular Products Section -->
        <section class="products">
            <div class="container">
                <div class="section-header d-flex justify-content-between align-items-center">
                    <h5 class="d-inline m-0">Popular Products</h5>
                    <a href="{% url 'store' %}" class="btn btn-outline-primary d-inline">See all</a>
                </div>
                <!-- Product Cards -->
                <div class="row mt-3">
                    <!-- Product 1 -->
                    <div class="col-md-3">
                        <a href="#">
                            <div class="card card-product">
                                <img class="rounded-top" src="{% static 'images/image-products/1.jpg' %}"
                                     alt="Blue shirt">
                                <div class="card-body p-0">
                                    <p class="card-text p-3">Some text in here</p>
                                    <div class="product-price-wrapper mb-1">
                                        <var class="price">&#3647;12</var>
                                        <a href="/cart.html"
                                           class="btn btn-outline-primary btn-sm float-end btn-add-to-cart">Add to
                                            cart</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- End Product 1 -->
                </div>
                <!-- End Product Cards -->
            </div>
        </section>
        <!-- End Popular Products Section -->
    </main>
    <!-- End Main Content Section -->
{% endblock %}