{% extends 'base.html' %}
{% load static %}

{% block title %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
    <title>PowerPulse - Home</title>
{% endblock %}

{% block content %}

    <!-- Main Content Section -->
    <main class="main-content my-5">
        <!-- Introduction Banner -->
        <section class="section-intro">
            <div class="container">
                <div class="intro-banner-wrap">
                    <img class="rounded" src="{% static 'images/banner.jpg' %}" alt="Healthy Asian woman doing squats"/>
                </div>
            </div>
        </section>
        <!-- End Introduction Banner -->

        <!-- Popular Products Section -->
        <section class="products">
            <div class="container">
                <div class="section-header d-flex justify-content-between align-items-center">
                    <h5 class="d-inline m-0">Popular Products</h5>
                    <a href="{% url 'store' %}" class="btn btn-outline-primary d-inline">See all</a>
                </div>
                <!-- Product Cards -->
                <div class="row mt-3">
                    <!-- Product 1 -->
                    <div class="col-md-3 mb-3">
                        <a href="#" class="img-link">
                            <div class="card card-product">
                                <img class="rounded-top"
                                     src="{% static 'images/image-products/Optimum-Nutrition-Whey-Protein-Gold-5-LBS-Chocolate.jpg' %}"
                                     alt="Optimum Nutrition Whey Protein Gold 5 LBS"/>
                                <div class="card-body p-2">
                                    <div class="fix-height">
                                        <span class="price">THB 1200</span>
                                        <p class="card-text">Optimum Nutrition Whey Protein Gold 5 LBS</p>
                                    </div>
                                    <div class="btn-product d-grid">
                                        <a href="/cart.html" class="btn btn-primary btn-add-to-cart">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- End Product 1 -->

                    <!-- Product 2 -->
                    <div class="col-md-3 mb-3">
                        <a href="#" class="img-link">
                            <div class="card card-product">
                                <img class="rounded-top" src="{% static 'images/image-products/16772200334367.jpg' %}"
                                     alt="Product Image 2"/>
                                <div class="card-body p-2">
                                    <div class="fix-height">
                                        <span class="price">THB 1500</span>
                                        <p class="card-text">Product Description 2</p>
                                    </div>
                                    <div class="btn-product d-grid">
                                        <a href="/cart.html" class="btn btn-primary btn-add-to-cart">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- End Product 2 -->

                    <!-- Product 3 -->
                    <div class="col-md-3 mb-3">
                        <a href="#" class="img-link">
                            <div class="card card-product">
                                <img class="rounded-top"
                                     src="{% static 'images/image-products/ยางยืดออกกำลังกาย-DOMYOS-Cross-Training-25-กก.-ดีแคทลอน.jpg' %}"
                                     alt="DOMYOS Cross Training Band"/>
                                <div class="card-body p-2">
                                    <div class="fix-height">
                                        <span class="price">THB 500</span>
                                        <p class="card-text">DOMYOS Cross Training Band</p>
                                    </div>
                                    <div class="btn-product d-grid">
                                        <a href="/cart.html" class="btn btn-primary btn-add-to-cart">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- End Product 3 -->

                    <!-- Product 4 -->
                    <div class="col-md-3 mb-3">
                        <a href="#" class="img-link">
                            <div class="card card-product">
                                <img class="rounded-top" src="{% static 'images/image-products/Shirt.jpg' %}"
                                     alt="Blue Shirt"/>
                                <div class="card-body p-2">
                                    <div class="fix-height">
                                        <span class="price">THB 300</span>
                                        <p class="card-text">Blue Shirt</p>
                                    </div>
                                    <div class="btn-product d-grid">
                                        <a href="/cart.html" class="btn btn-primary btn-add-to-cart">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- End Product 4 -->
                </div>
                <!-- End Product Cards -->
            </div>
        </section>
        <!-- End Popular Products Section -->
    </main>
    <!-- End Main Content Section -->
{% endblock %}
