{% extends 'base.html' %}

{% load static %}

{% block title %}
    <link rel="stylesheet" href="{% static '/css/store.css' %}"/>
    <title>PowerPulse - Store</title>
{% endblock %}

{% block content %}
    <section class="section-content my-5 py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        {% for product in products %}
                            <div class="col-md-4 mb-3">
                                <a href="{% url 'detailproduct' %}" class="img-link"></a>
                                <div class="card card-product">
                                    <a href="/detailproduct/" class="img-link">
                                        <div class="img-wrap">
                                            <img class="rounded-top" style="width: 220px; height: auto;"
                                                 src="{{ product.images.url }}"
                                                 alt="Optimum Nutrition Whey Protein Gold 5 LBS">
                                        </div>
                                    </a>
                                    <div class="card-body p-2"><a href="{% url 'detailproduct' %}" class="img-link">
                                        <div class="fix-height">
                                            <span class="price">THB {{ product.price }}</span>
                                            <p class="card-text">{{ product.product_name }}</p>
                                        </div>
                                    </a>
                                        <div class="btn-product d-grid">
                                            <a href="{% url 'detailproduct' %}" class="img-link"></a>
                                            <a href="/cart/" class="btn btn-primary btn-add-to-cart">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Sidebar -->
                <div class="col-md-3">
                    <aside class="">
                        <div class="card p-3">
                            <article>
                                <div class="header">
                                    <article class="filter-group">
                                        <div class="header">
                                            <a
                                                    class=""
                                                    href=""
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapse-aside"
                                                    style="text-decoration: none"
                                            >
                                                <div class="title-container">
                                                    <h6 class="title">Categories</h6>
                                                    <i class="bi bi-chevron-down"></i>
                                                </div>
                                            </a>
                                        </div>
                                        <div
                                                class="filter-content collapse show"
                                                id="collapse-aside"
                                        >
                                            <div class="body">
                                                <form action="" class="my-3">
                                                    <div class="input-group">
                                                        <input
                                                                type="text"
                                                                class="form-control"
                                                                placeholder="Search"
                                                        />
                                                        <div class="input-group-append">
                                                            <button
                                                                    class="btn btn-primary rounded-start-0"
                                                                    type="button"
                                                            >
                                                                <i class="bi bi-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                                <ul class="list-menu">
                                                    <!-- รายการหมวดหมู่สินค้า -->
                                                    <li>
                                                        <a href="" class="link-category">Clothes</a>
                                                    </li>
                                                    <li><a href="" class="link-category">Shoes</a></li>
                                                    <li>
                                                        <a href="" class="link-category">Whey Proteins</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </article>

                            <article>
                                <div class="header">
                                    <article class="filter-group">
                                        <div class="header">
                                            <a
                                                    class=""
                                                    href=""
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapse-aside-price"
                                                    style="text-decoration: none"
                                            >
                                                <div class="title-container">
                                                    <h6 class="title">Price</h6>
                                                    <i class="bi bi-chevron-down"></i>
                                                </div>
                                            </a>
                                        </div>
                                        <div
                                                class="filter-content collapse show"
                                                id="collapse-aside-price"
                                        >
                                            <div class="body">
                                                <form action="" class="my-3">
                                                    <input type=range class="form-range">
                                                    <div class="row">
                                                        <div class="col">
                                                            <label>Min</label>
                                                            <input type="number" class="form-control"
                                                                   placeholder="&#3647;0">
                                                        </div>
                                                        <div class="col">
                                                            <label>Max</label>
                                                            <input type="number" class="form-control"
                                                                   placeholder="&#3647;10,000">
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="d-grid">
                                                    <button class="btn btn-primary btn-block">Apply</button>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </article>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
