{% extends 'profiles/profile_layout.html'%}

{% load static %}

{% block title %}
PowerPulse - My Account
{% endblock title %}

{% block subcontent %}
<div class="col-md-9">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">My account</h4>
            <form method="POST" action="{% url 'edit_profile' %}">
                {% csrf_token %}
                <div class="form-row row">
                    <div class="col-md-6 form-group">
                        <label>First name</label>
                        <input type="text" class="form-control" name="first_name" value="{{user.first_name}}" readonly required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Last name</label>
                        <input type="text" class="form-control" name="last_name" value="{{user.last_name}}" readonly required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" value="{{user.email}}" readonly>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Phone</label>
                        <input type="tel" pattern="\d{9,10}" class="form-control" name="phone_number" value="{{user.phone_number}}"
                            readonly>
                    </div>
                </div>
                <div class="buttons">
                    <button id="edit" class="my-2 btn btn-warning btn-block" style="display: inline;">Edit profile
                    </button>
                    <button id="cancel" class="my-2 btn btn-danger btn-block" style="display: none;">Cancel
                    </button>
                    <button type="submit" id="save" class="my-2 btn btn-success btn-block" style="display: none;">Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const editProfileButton = document.querySelector('#edit');
        const cancelButton = document.querySelector('#cancel');
        const saveButton = document.querySelector('#save');

        editProfileButton.addEventListener('click', (event) => {
            event.preventDefault();
            const inputFields = document.querySelectorAll('.form-control:not([type="email"])');

            inputFields.forEach(inputField => {
                inputField.removeAttribute('readonly');
            });

            editProfileButton.style.display = 'none';
            cancelButton.style.display = 'inline';
            saveButton.style.display = 'inline';
        });

        cancelButton.addEventListener('click', (event) => {
            event.preventDefault();
            const inputFields = document.querySelectorAll('.form-control:not([type="email"])');

            inputFields.forEach(inputField => {
                inputField.setAttribute('readonly', true);
                inputField.value = inputField.defaultValue;
            });

            editProfileButton.style.display = 'inline';
            saveButton.style.display = 'none';
            cancelButton.style.display = 'none';
        });
    });
</script>
{% endblock subcontent %}