{% extends 'profiles/profile_layout.html' %}

{% load humanize %}

{% load static %}


{% block title %}
PowerPulse - Order Detail
{% endblock title %}


{% block subcontent %}

<aside class="col-md-9">
    <div class="card px-2">
        <table class="table table-borderless table-shopping-cart border-bottom">
            <thead class="text-muted">
                <tr class="small text-uppercase">
                    <th scope="col" class="rounded text-muted">Products</th>
                    <th scope="col" style="width:120px; " class="text-muted text-center">Quantity</th>
                    <th scope="col" style="width:120px; " class="text-muted text-center">Price</th>
                </tr>
            </thead>

            {% for order_product in order_products %}
            <tbody>
                <tr>
                    <td class="col-6">
                        <figure class="itemside d-flex  m-0">
                            <div class="aside me-2"><img src="{{order_product.product.images.url}}" class="img-sm"
                                    width="80" height="80"></div>
                            <figcaption class="info ">
                                <a href="#" class="title nav-link">{{order_product.product.product_name}}</a>
                            </figcaption>
                        </figure>
                    </td>
                    <td class="col text-center">
                        {{order_product.quantity}}
                    </td>
                    <td class="col">
                        <div class="price-wrap text-center d-flex flex-column">
                            <var class="price fst-normal">&#3647;{{order_product.sub_total | intcomma}}</var>
                            <small class="text-muted">&#3647;{{order_product.product.price | intcomma}} each
                        </div>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <div class="desc-order row">
            <h6 class="text-muted text-uppercase">Order details</h6>
            <div class="col-12">
                <ul class="list-group d-flex flex-column border-bottom rounded-0" style="flex-wrap: wrap; height: 6.5rem; list-style: none;">
                    <li>Send to: {{order.first_name}} {{order.last_name}}</li>
                    <li>House No: {{order.house_no}}</li>
                    <li>Lane: {{order.lane}}</li>
                    <li>Tel: {{order.phone_number}}</li>
                    <li>Road: {{order.road}}</li>
                    <li>Village No: {{order.village_no}}</li>
                    <li>Sub district: {{order.sub_district}}</li>
                    <li>District: {{order.district}}</li>
                    <li>Province: {{order.province}}</li>
                    <li>Postal code: {{order.postal_code}}</li>
                </ul>
            </div>
            <span class="fw-bold py-2">Total: <var class="fst-normal float-end">{{order.total}}</var></span>
        </div>
        </div>
    </div>
</aside>
{%endblock%}