{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title%}

{% block content %}
<div class="container my-5 py-5">
    <div class="row">
        <aside class="col-md-3">
            <!--   SIDEBAR   -->
            <ul class="list-group list-unstyled nav">
                <!--<a class="list-group-item active" data-bs-toggle="pill" href="{% url 'profile' %}">My Account</a>-->
                <a class="list-group-item" style="" href="{% url 'my_account' %}">My Account</a>
                <a class="list-group-item" href="{%  url 'address'  %}">Address</a>
                <a class="list-group-item" href="#">Order History</a>
                <a class="list-group-item" href="#">Favorite Items</a>
            </ul>
            <br>
            <a style="width: 100%;" class="btn btn-light btn-block" href="#"><i class="fa fa-power-off"></i> <span
                class="text">Log out</span> </a>
            <!--   SIDEBAR .//END   -->
        </aside>
        {% block subcontent%}
        {% endblock subcontent%}
    </div>
</div>
{% endblock content %}