{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title%}

{% block content %}
<div class="container my-5 py-5">
    <div class="row">
        <aside class="col-md-3">
            <ul class="list-group list-unstyled nav">
                <a class="list-group-item {%if request.path == '/my_account/' %}text-primary{% endif %}"
                    href="{% url 'my_account' %}">My Account</a>
                <a class="list-group-item {% if request.path == '/order_history/' %}text-primary {%endif%}"
                    href="{% url 'order_history' %}">Order History</a>
            </ul>
            <br>
            <a style="width: 100%;" class="btn btn-light btn-block" href="{% url 'logout'%}"><i
                    class="fa fa-power-off"></i>
                <span class="text">Log out</span> </a>
        </aside>
        {% block subcontent%}
        {% endblock subcontent%}
    </div>
</div>
{% endblock content %}